data_marketing_personnalise/
data_service_clients/
.ipynb_checkpoints
.idea
tweets_data/
__pycache__/
credentials.py
/data/extraction_twint/pepsi.csv
/data/extraction_twint/pepsi_users.csv
/data/extraction_twint/pepsi_users_v1.csv
