**/data_marketing_personnalise/*.csv
**/data_service_clients/raw/*.csv
**/data_service_clients/with_reply_time/*.csv
.ipynb_checkpoints
.idea
tweets_data/*/*.csv
__pycache__/
credentials.py
.vscode
.vs
**/extraction_manual/tweets_data
**/extraction-kaggle/tweets_data
**/source/stopwords/